@page "/help"
<h3>Справка</h3>

<div class="content px-5">
    <p class="Default" align="center" style="margin-left:-42.55pt;text-align:center;
text-indent:21.25pt">
        <b>
            <span style="font-size:18.0pt">
                Конвективный теплообмен
                при поперечном обтекании пучка труб.<o:p></o:p>
            </span>
        </b>
    </p>

    
    <p class="Default" style="margin-left:-42.55pt;text-align:justify;text-indent:
21.25pt">
        <span style="font-size:14.0pt">
            Подобные геометрические системы широко
            используются при эксплуатации теплообменных аппаратов и в котлоагрегатах. <o:p></o:p>
        </span>
    </p>

    <p class="Default" style="margin-left:-42.55pt;text-align:justify;text-indent:
21.25pt">
        <span style="font-size:14.0pt">
            При натекании потока на одиночную трубу
            коэффициент теплоотдачи по ее периметру распределяется крайне неравномерно и
            его максимальное значение может отличаться от минимального в 4-5 раз. <o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="margin-left:-42.55pt;text-align:justify;text-indent:
21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
            При
            наличии пучка труб процесс теплоотдачи еще сильнее усложняется. Пучки труб
            можно расположить по-разному. Наиболее часто встречаются коридорное и шахматное
            размещение труб в пучке. В первом случае трубы в каждом ряду располагаются
            строго друг за другом с определенным интервалом между осями. Во втором случае
            параллельные ряды труб сдвинуты относительно друг друга на половину расстояния
            между осями труб в каждом ряду.<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="margin-left:-42.55pt;text-align:justify;text-indent:
21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
            Различная
            геометрия пучков вызывает различную степень турбулизации потока газов, идущих
            между трубами. Ниже приводятся данные М.А.Михеева по расчету конвективного
            теплообмена для пучков труб различной геометрии.<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" align="center" style="margin-left:-42.55pt;text-align:center;
text-indent:21.25pt">
        <b>
            <span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
                Частные
                критериальные уравнения для пучков труб<o:p></o:p>
            </span>
        </b>
    </p>

    <p class="MsoNormal" style="margin-left:-42.55pt;text-align:justify;text-indent:
21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
            Экспериментальные
            исследования конвективного теплообмена в пучках труб позволили на основе
            обобщения данных вывести критериальные уравнения для различных геометрических
            систем в зависимости от режима течения потока между трубами: при коридорном
            расположении труб в пучке<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" align="center" style="margin-left:-42.55pt;text-align:center;
text-indent:21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:
&quot;Cambria Math&quot;,&quot;serif&quot;;mso-bidi-font-family:&quot;Cambria Math&quot;">𝑁𝑢</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">=0,23∙</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝑅𝑒</span><sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">0,65</span></sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">∙</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝑃𝑟</span><sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">0,33</span></sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">∙(</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝑃𝑟</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">/</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝑃𝑟</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">ст)<sup>0,25</sup>;<o:p></o:p></span>
    </p>

    <p class="MsoNormal" style="margin-left:-42.55pt;text-align:justify;text-indent:
21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
            при
            шахматном расположении труб в пучке<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" align="center" style="margin-left:-42.55pt;text-align:center;
text-indent:21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:
&quot;Cambria Math&quot;,&quot;serif&quot;;mso-bidi-font-family:&quot;Cambria Math&quot;">𝑁𝑢</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">=0,41∙</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝑅𝑒</span><sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">0,6</span></sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">∙</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝑃𝑟</span><sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">0,33</span></sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">∙(</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝑃𝑟</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">/</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝑃𝑟</span><sub><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">ст</span></sub><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">)<sup>0,25</sup>;<b><o:p></o:p></b></span>
    </p>

    <p class="MsoNormal" style="margin-left:-42.55pt;text-align:justify;text-indent:
21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
            В
            этих формулах в качестве определяющей температуры принята средняя температура
            потока, в качестве определяющей скорости - скорость в самом узком сечении ряда,
            в качестве определяющего размера - диаметр трубки. При такой обработке данных
            исследований теплоотдача практически не зависит от относительного расстояния
            между трубами, как по ширине, так и по глубине пучка. Приведенные формулы
            справедливы для любых жидкостей и газов в широком диапазоне чисел Рейнольдса
            (Re = 2*10<sup>2</sup> ... 2*10<sup>5</sup>).<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="margin-left:-42.55pt;text-align:justify;text-indent:
21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
            Для
            воздуха формулы могут быть упрощены: при коридорном расположении труб в пучке<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" align="center" style="margin-left:-42.55pt;text-align:center;
text-indent:21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:
&quot;Cambria Math&quot;,&quot;serif&quot;;mso-bidi-font-family:&quot;Cambria Math&quot;">𝑁𝑢</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">=0,21∙</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝑅𝑒</span><sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">0,65</span></sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">;<o:p></o:p></span>
    </p>

    <p class="MsoNormal" style="margin-left:-42.55pt;text-align:justify;text-indent:
21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
            при
            шахматном расположении труб в пучке<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" align="center" style="margin-left:-42.55pt;text-align:center;
text-indent:21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:
&quot;Cambria Math&quot;,&quot;serif&quot;;mso-bidi-font-family:&quot;Cambria Math&quot;">𝑁𝑢</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">=0,37∙</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝑅𝑒</span><sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">0,6</span></sup><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">.<o:p></o:p></span>
    </p>

    <p style="margin-left:-21.3pt">
        <span style="font-size:14.0pt">
            Из формул
            определяется коэффициент теплоотдачи для третьего и последующих рядов труб:<o:p></o:p>
        </span>
    </p>

    <p align="center" style="margin-left:-21.3pt;text-align:center">
        <span style="font-size:14.0pt;mso-no-proof:yes">
            <img width="111" height="61" src="https://psv4.userapi.com/c537232/u157799869/docs/d10/7d51beeeb5fb/1.png?extra=sjvKd55Qwbug8pqKhWQzJ3zVc464WAptuCED5mlXmNZMw89GxqOKupiYHxDjmcIgx1EsK-C3jPI2M6CJOHZBTWSa6_G-duMx7UjpWK-0XqCmQ5TOPGPQr4wKHi_InGbG0BE0s5mWwJeC6oqThmM1SZEAXQ" v:shapes="Рисунок_x0020_9"><!--[endif]-->
        </span><span style="font-size:14.0pt"><o:p></o:p></span>
    </p>

    <p style="margin-left:-21.3pt">
        <span style="font-size:14.0pt">
            Средний
            коэффициент теплоотдачи для всего пучка в целом определяется по формуле<o:p></o:p>
        </span>
    </p>

    <p align="center" style="text-align:center">
        <span style="font-size:14.0pt;
mso-no-proof:yes">
            <img width="283" height="67" src="https://psv4.userapi.com/c536436/u157799869/docs/d17/5369f80f34a2/izobrazhenie_2021-01-25_210638.png?extra=io-R5audjUCZnFzJxP1UwJibp-Xxfxiwy8mSs4nH0ISyvR4zH5SQqzGOE3r3_TzwKOOfC_ZXCaZ4hVun5rC0l1yWM3gV81X8ehmrwNjzxGAwqzSmHZ_tGihbB1SmSR0fdPadVpvOa-qN5hHyZ5tqGSTzSw" v:shapes="Рисунок_x0020_8"><!--[endif]-->
        </span><span style="font-size:14.0pt">,<o:p></o:p></span>
    </p>

    <p>
        <span style="font-size:14.0pt">
            где Z – количество рядов труб по ходу потока
            жидкости. Коэффициенты теплоотдачи для труб первого&nbsp;
            <img width="39" height="33" src="https://psv4.userapi.com/c520036/u157799869/docs/d1/10eba274c80d/izobrazhenie_2021-01-25_210722.png?extra=hR4XNYhM2_tYCZ3p_mMKCgl-wfQ5LsjIjNxQzVgvK4p282nLgJrPxeUDuhQ0HNyGmvy9SjanliuvRdmAkH-wFvPqWGTR2ziNr1VKbiLJcktbYu9vnhZ2nHg6JO0dYCgCj1OZ8tvzY3yKrAq1ph7OCxm9fg" v:shapes="Рисунок_x0020_7"><!--[endif]-->и второго&nbsp;
            <img width="33" height="33" src="https://psv4.userapi.com/c520036/u157799869/docs/d41/bea136a32c15/izobrazhenie_2021-01-25_210750.png?extra=9AAJkFfMy0uFLbaMHpZJTI10O9D7zV1YPWkeD81IwSy7OwkudpLI6OMxXibkl_fAAHPG8yJs8Hk1C3bvY8US4zV8Y1vMS6aQEGF0dQX7gN1FHq-fD5UIuC4rzhQIhjDk08opxibRGy0hUhMr9NX6FtDCkw" v:shapes="Рисунок_x0020_6"><!--[endif]-->рядов определяются по следующим
            формулам:<o:p></o:p>
        </span>
    </p>

    <p>
        <span style="font-size:14.0pt">
            • для коридорного пучка&nbsp;
            <img width="265" height="40" src="https://psv4.userapi.com/c537232/u157799869/docs/d32/f318f7f97246/izobrazhenie_2021-01-25_210820.png?extra=sWwS4oxIKjDdrbJjO7Vc27Peq3saUC5FBAPpsJK6S40sA8r9djswI6BxvSnZdgKydyn6x4nUDvAaVeHDANGGfQ9yEE0HvbABBJeYsngnkwM-ab9HMF0PsIo5u0IHp_vcrf6m3PSM6JS70BGBzPyUAUEf-g" v:shapes="Рисунок_x0020_4"><!--[endif]-->;<o:p></o:p>
        </span>
    </p>

    <p>
        <span style="font-size:14.0pt">
            • для шахматного пучка&nbsp;
            <img width="272" height="33" src="https://psv4.userapi.com/c536236/u157799869/docs/d30/0e84257dd743/izobrazhenie_2021-01-25_210846.png?extra=S_Q55iVq5p8DkvPBG_ZOAhBTqrGSP3xS7f4VVEhoT--gmABU_r6hhmOaHy187AB7nbA3FuF8NYOQcWybg7_1-fDl5ETByyK65jZkht8j6lKAZAhKyrgosE_Yldy2wOlguZyuJga4FvnccFuYuylhEgfUKA" v:shapes="Рисунок_x0020_1"><!--[endif]-->.<o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" style="margin-left:-42.55pt;text-align:justify;text-indent:
21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">
            Приведенные
            формулы позволяют определять средние значения коэффициентов теплоотдачи при
            натекании потока под углом 90° к осям труб, расположенных в пучке. Если поток
            натекает под некоторым углом φ к оси трубы, то необходимо вводить поправочный
            коэффициент ε<sub>φ</sub>, значения которого приведены в табл. 2.<o:p></o:p>
        </span>
    </p>

    <p class="Default" style="margin-left:-42.55pt;text-indent:21.25pt">
        <span style="font-size:14.0pt">
            При этом расчетная формула для αφ, Вт/(м2*К), имеет
            вид <o:p></o:p>
        </span>
    </p>

    <p class="MsoNormal" align="center" style="margin-left:-42.55pt;text-align:center;
text-indent:21.25pt">
        <span style="font-size:14.0pt;line-height:115%;font-family:
&quot;Cambria Math&quot;,&quot;serif&quot;;mso-bidi-font-family:&quot;Cambria Math&quot;">𝛂<sub>𝛗</sub></span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">=</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝛂<sub>𝟗𝟎</sub></span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">∙</span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Cambria Math&quot;,&quot;serif&quot;;
mso-bidi-font-family:&quot;Cambria Math&quot;">𝛆<sub>𝛗</sub></span><span style="font-size:14.0pt;line-height:115%;font-family:&quot;Times New Roman&quot;,&quot;serif&quot;">.<o:p></o:p></span>
    </p>
    </div>
    @code {

    }
